
<div class="card" style="padding: 0;">
    <div class="card-body" style="padding:0">
    <div class="grid">
    <div class="row text-center mr-0 text-light" style="background-color: #6f42c1;">
        <div class="col-lg text-right mt-1 md-0 " style="margin-left: 185px;"><h2>Event Planner</h2></div>
        <div class="col text-right float-right mt-1 md-0">
            <button type="button" class="btn btn-danger" style="width: auto;" tooltip="click to logout" (click)="logout.plannerLogout()">Logout!
            </button>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container float-right text-right mt-0 clearfix">
        <button type="button" class="btn btn-outline-success"
               tooltip="click for adding an event"style="width: auto" [disabled]="issubscribed" (click)="subscribe()" >Pay Now!
              </button>
            </div>
    <div class="card">
        <div class="card-body">
<span class="badge badge-light"><h5>Name:</h5></span><span>Planner 1</span><br/>
<span class="badge badge-light"><h5>Type of Events:</h5></span><span>Parties,Reception</span><br/>
<span class="badge badge-light"><h5>Venue Locations:</h5></span><span>Bangalore,Vizag,Rajasthan</span><br/>
<span class="badge badge-light"><h5>no of guests:</h5></span><span>500</span><br/>
<span class="badge badge-light"><h5>Guest Transport:</h5></span>yes<span></span><br/>
<span class="badge badge-light"><h5>Amount:</h5></span><span>12000</span><br/>
<span class="badge badge-light"><h5>Contact no:</h5></span><span>1259784</span>
</div>
</div>