
<div class="sticky-top">
<div class="card" style="padding: 0;">
    <div class="card-body" style="padding:0">
<div>
    <div class="row text-center mr-0 text-light" style="background-color: #6f42c1;">
        <div class="col text-right mt-1 md-0 " style="margin-left: 185px;"><h2>Event Planner</h2></div>
        <div class="col text-right float-right mt-1 md-0">
            <button type="button" class="btn btn-bd-download "  style="width: 10%" (click)="valids.isCollapsed = !valids.isCollapsed"
            (click)="valids.isCollapsedplanner=true" (click)="valids.isCollapsedadmin=true" tooltip="click to Login as user" >user
          </button>
          <button type="button" class="btn btn-bd-download "style="width: 12%" (click)="valids.isCollapsedplanner = !valids.isCollapsedplanner"
          (click)="valids.isCollapsed=true" (click)="valids.isCollapsedadmin=true" tooltip="click to Login as Planner">planner
          </button>
          <button type="button" class="btn btn-bd-download " style="width: 11%" (click)="valids.isCollapsedadmin = !valids.isCollapsedadmin"
          (click)="valids.isCollapsed=true" (click)="valids.isCollapsedplanner=true"  tooltip="click to Login as admin">admin
          </button>
        
        </div>
    </div>
</div>
</div>
</div>

<div  class="float-left container" style="margin-top: 80px; margin-left: 30px; width: 10%;" tooltip="click to view details">
    <button class="btn  btn-bd-primary text-center p-2 m-0" style="width: 100%;" >Parties</button><br/>
    <button class="btn  btn-outline-secondary p-2 m-0" style="width: 100%;" >Wedding</button><br/>
    <button class="btn  btn-bd-primary p-2 m-0" style="width: 100%;">Reception</button><br/>
    </div>
    <div class="container  float-left text-center ml-5" style="margin-top: 80px;" *ngIf="valids.showLogin"> 
        <div class="alert alert-danger w-25 p-3" *ngIf="valids.showalert" style="margin-left: 430px;">{{msg}}</div> 
        <div  *ngIf="!valids.isCollapsed"><h2 class="badge badge-success"><b>Login as User</b></h2>
          <div class="container" [formGroup]="userform" >
            <div >
                <div  >
                    <input   placeholder="email" style="width: auto;" type="text" formControlName="useremail"/><br/>
                  </div>
                  <div>
                      <input type="password" style="width: auto;"  placeholder="password" formControlName="userpassword"/><br/>
                    </div>
                    <button type="button" class="btn btn-bd-primary" style="width: 10%;"  [disabled]="!userform.valid " (click)="check()">
                        Login
                      </button>
                      <button type="button" class="btn btn-outline-secondary" style="width: 10%;" (click)="valids.signup=true" (click)="nav()">
                        SignUp
                      </button>
                      <div *ngIf="showalert" class=" alert alert-danger" style="width: 20%; margin-left: 40%;"><span style="width:10px;">check credentials</span></div>
                    </div>
          </div>
          
          
        </div>
       
        <div  *ngIf="!valids.isCollapsedplanner && valids.showLogin"><h2 class="badge badge-success">Login as Planner</h2 >
          <div [formGroup]=" plannerform"><input style="width: auto;" placeholder="email" type="text" formControlName="planneremail"/><br/>
            <input type="password" style="width: auto;" placeholder="password" formControlName="plannerpassword"/><br/>
            <button type="button" class="btn btn-bd-primary" style="width: 10%;" (click)="show=false"   [disabled]="!plannerform.valid " (click)="showlogout=true" (click) ="plannerlogin()"(click)="showLogin=false">
              Login
            </button>
            <button type="button" class="btn btn-outline-secondary"  style="width: 10%;" (click)="navp()">
              SignUp
            </button></div>
            
        </div>
        
        <div  *ngIf="!valids.isCollapsedadmin"><h2 class="badge badge-success">Login as Admin</h2>
            <div [formGroup]="adminform">
              <input  placeholder="email" style="width: auto;" type="text" formControlName="adminemail"/><br/>
              <input type="password" style="width: auto;" placeholder="password" formControlName="adminpassword"/><br/>
              <button type="button" class="btn btn-bd-primary" style=" width: 10%;" (click)="check2()" [disabled]="!adminform.valid ">
                Login
              </button>
              <button type="button" class="btn btn-outline-secondary "  style=" width: 10%;">
                SignUp
              </button>
            </div>
              
          </div>
        </div>        
        
